
.search-form{
    position: relative;
    top: 9px;
}

::ng-deep .ant-card-head-title{
    overflow: visible !important;
}
::ng-deep .ant-table-placeholder{
    display: none;
}
::ng-deep nz-dropdown{
    top: 7px;
}
