<div>
    <!--<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <jl-alert-error></jl-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jiraliteApp.issue.issueNo" for="field_issueNo">Issue No</label>
            <input type="text" class="form-control" name="issueNo" id="field_issueNo"
                   [(ngModel)]="issue.issueNo" required maxlength="30" />
            <div [hidden]="!(editForm.controls.issueNo?.dirty && editForm.controls.issueNo?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.issueNo?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.issueNo?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 30 }">
                    This field cannot be longer than 30 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jiraliteApp.issue.issueSubject" for="field_issueSubject">Issue Subject</label>
            <input type="text" class="form-control" name="issueSubject" id="field_issueSubject"
                   [(ngModel)]="issue.issueSubject" maxlength="500" />
            <div [hidden]="!(editForm.controls.issueSubject?.dirty && editForm.controls.issueSubject?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.issueSubject?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 500 }">
                    This field cannot be longer than 500 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jiraliteApp.issue.issueType" for="field_issueType">Issue Type</label>
            <input type="text" class="form-control" name="issueType" id="field_issueType"
                   [(ngModel)]="issue.issueType" required maxlength="30" />
            <div [hidden]="!(editForm.controls.issueType?.dirty && editForm.controls.issueType?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.issueType?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.issueType?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 30 }">
                    This field cannot be longer than 30 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jiraliteApp.issue.issuePriority" for="field_issuePriority">Issue Priority</label>
            <input type="text" class="form-control" name="issuePriority" id="field_issuePriority"
                   [(ngModel)]="issue.issuePriority" required maxlength="30" />
            <div [hidden]="!(editForm.controls.issuePriority?.dirty && editForm.controls.issuePriority?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.issuePriority?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.issuePriority?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 30 }">
                    This field cannot be longer than 30 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jiraliteApp.issue.issueStatus" for="field_issueStatus">Issue Status</label>
            <input type="text" class="form-control" name="issueStatus" id="field_issueStatus"
                   [(ngModel)]="issue.issueStatus" maxlength="12" />
            <div [hidden]="!(editForm.controls.issueStatus?.dirty && editForm.controls.issueStatus?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.issueStatus?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 12 }">
                    This field cannot be longer than 12 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jiraliteApp.issue.reporter" for="field_reporter">Reporter</label>
            <input type="text" class="form-control" name="reporter" id="field_reporter"
                   [(ngModel)]="issue.reporter" maxlength="60" />
            <div [hidden]="!(editForm.controls.reporter?.dirty && editForm.controls.reporter?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.reporter?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 60 }">
                    This field cannot be longer than 60 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jiraliteApp.issue.assigner" for="field_assigner">Assigner</label>
            <input type="text" class="form-control" name="assigner" id="field_assigner"
                   [(ngModel)]="issue.assigner" maxlength="60" />
            <div [hidden]="!(editForm.controls.assigner?.dirty && editForm.controls.assigner?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.assigner?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 60 }">
                    This field cannot be longer than 60 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jiraliteApp.issue.remark" for="field_remark">Remark</label>
            <textarea class="form-control" name="remark" id="field_remark"
                      [froalaEditor]="options" [(froalaModel)]="issue.remark"
                      required ></textarea>
            <div [hidden]="!(editForm.controls.remark?.dirty && editForm.controls.remark?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.remark?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jiraliteApp.issue.project" for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" [(ngModel)]="issue.projectId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="projectOption.id" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.id}}</option>
            </select>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/dashboard']">
                <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>

    </form>-->

    <form nz-form [formGroup]="editForm" (ngSubmit)="save($event,editForm.value)">
        <jl-alert-error></jl-alert-error>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
                <label nz-form-item-required>Issue No.</label>
            </div>
            <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('issueNo')" nzHasFeedback>
                <nz-input formControlName="issueNo" [nzType]="'text'" [nzPlaceHolder]="'请输入Issue No.'" [nzSize]="'large'">
                </nz-input>
                <div nz-form-explain *ngIf="getFormControl('issueNo').dirty&&getFormControl('issueNo').hasError('required')">请输入Issue No.!</div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
                <label nz-form-item-required>Issue 标题</label>
            </div>
            <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('issueSubject')" nzHasFeedback>
                <nz-input formControlName="issueSubject" [nzPlaceHolder]="'Issue 标题'" [nzType]="'text'" [nzSize]="'large'">
                </nz-input>
                <div nz-form-explain *ngIf="getFormControl('issueSubject').dirty&&getFormControl('issueSubject').hasError('required')">请输入 Issue 标题!</div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
                <label nz-form-item-required>Issue 类型</label>
            </div>
            <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('issueType')" nzHasFeedback>
                <jl-code-select [typeCode]="typeStatus" (codes)="receiveTypeCodes($event)">
                    <nz-select formControlName="issueType" [nzPlaceHolder]="'选择 Issue 类型'" [nzSize]="'large'">
                        <nz-option
                            *ngFor="let code of typeCodes"
                            [nzLabel]="code.name"
                            [nzValue]="code.code">
                        </nz-option>
                    </nz-select>
                </jl-code-select>
                <div nz-form-explain *ngIf="getFormControl('issueType').dirty&&getFormControl('issueType').hasError('required')">请选择 Issue 类型!</div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
                <label nz-form-item-required>Issue 级别</label>
            </div>
            <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('issuePriority')" nzHasFeedback>
                <jl-code-select [typeCode]="priorityStatus" (codes)="receivePriorityCodes($event)">
                    <nz-select formControlName="issuePriority" [nzPlaceHolder]="'选择 Issue 级别'" [nzSize]="'large'">
                        <nz-option
                            *ngFor="let code of priorityCodes"
                            [nzLabel]="code.name"
                            [nzValue]="code.code">
                        </nz-option>
                    </nz-select>
                </jl-code-select>
                <div nz-form-explain *ngIf="getFormControl('issuePriority').dirty&&getFormControl('issuePriority').hasError('required')">请选择 Issue 级别!</div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
                <label nz-form-item-required>Issue 状态</label>
            </div>
            <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('issueStatus')" nzHasFeedback>
                <jl-code-select [typeCode]="issueStatus" (codes)="receiveStatusCodes($event)">
                    <nz-select formControlName="issueStatus" [nzPlaceHolder]="'选择 Issue 状态'" [nzSize]="'large'">
                        <nz-option
                            *ngFor="let code of statusCodes"
                            [nzLabel]="code.name"
                            [nzValue]="code.code">
                        </nz-option>
                    </nz-select>
                </jl-code-select>
                <div nz-form-explain *ngIf="getFormControl('issueStatus').dirty&&getFormControl('issueStatus').hasError('required')">请选择 Issue 状态!</div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-col [nzSpan]="5" nz-form-label>
                <label nz-form-item-required>描述</label>
            </div>
            <div>
                <div nz-col [nzSpan]="19" nz-form-control [nzValidateStatus]="getFormControl('remark')" nzHasFeedback>
                    <!--<nz-input formControlName="remark"-->
                              <!--[froalaEditor]="options"-->
                              <!--[nzRows]="3"-->
                              <!--[nzType]="'textarea'" [nzPlaceHolder]="'write any thing'" [nzSize]="'large'">-->
                    <!--</nz-input>-->
                    <textarea [froalaEditor]="options" rows="3" formControlName="remark"></textarea>
                    <div nz-form-explain *ngIf="getFormControl('remark').dirty&&getFormControl('remark').hasError('required')">请填写详细的描述!</div>
                </div>
            </div>
        </div>

        <div nz-form-item nz-row>
            <div nz-col [nzOffset]="5" [nzSpan]="12" nz-form-control>
                <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!editForm.valid">保存</button>
                <button nz-button [nzSize]="'large'" [routerLink]="['/dashboard']">取消</button>
            </div>
        </div>
    </form>
</div>
